.navbar {
  padding: 100px;
  background: #d66d75; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d66d75,
    #e29587
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d66d75, #e29587);
}
.nav-item {
  padding: 20px;
}
h4 {
  color: white;
}

.btn {
  margin: 30px;
  font-size: larger;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  display: flex;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
